body {
  font-weight: 500;
  padding: 0;
  margin: 0;
  background-color: rgba(216, 207, 207, 0.363) ;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  background-color: rgb(50 , 167 , 145);
  color: white;
}

.trybewarts-login {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 470px;
}

.input-login, .botao-login {
	border-radius: 0.5em;
	border-style: none;
	width: 150px;
	height: 37px;
  font-weight: 600;
  font-size: 15px;
}

.botao-login {
  color: white;
  background-color: rgb(80, 20, 114);
  font-weight: 700;
  height: 39px;
  text-align: center;
}

.textarea {
    display: block;
}

main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

h2 {
	text-align: center;
}
#principal-da-main {
	justify-content: flex-start;
	flex-direction: column;
	color: black;
	width: 675px;
}

.evaluation-form-itens, #evaluation-form-itens {
  border-radius: 0.5em;
  border-style: none;
  height: 30px;
  width: 220px;
  margin: 5px;
}

.evaluation-form-itens {
  width: 170px;
  background-color: white;
} 

.evaluation-form {
	width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

fieldset {
  display: flex;
  justify-content: space-around;
  height: 160px;
  width:675px ;
}

#form2 {
  width: 675px;
}

#familia-conteudo {
  height: 200px;
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
  padding: 10px;
  text-align: start;
}

#label-family {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 200px;
  padding: 10px;
}

p {
	margin-bottom: 0;
}

#label-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 300px;
  padding: 10px;
	margin-top: 20px;
}

.input-familia {
	margin-right: 7px;
}

#conjunto {
  text-align: start;
}

#submit-btn {
  width: 680px;
  color: white;
  background-color: rgb(80, 20, 114);
  font-weight: 700;
  height: 39px;
  text-align: center;
  border-style: none;
  border-radius: 0.5em;
  margin-top: 20px;
}

footer {
  width: 100%;
  text-align: center;
  background-color: gray;
}