body{
    padding: 0;
    margin: 0;
    background-color: rgba(216, 207, 207, 0.363) ;
}
.header{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    background-color: rgb(50 , 167 , 145);
    color: white;
}
.trybewarts-login{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 470px;
}
.input-login, .botao-login{
    border-radius: 0.5em;
    border-style: none;
    width: 150px;
    height: 37px;
    font-weight: 600;
    font-size: 15px;
}
.botao-login{
    color: white;
    background-color: rgb(80, 20, 114);
    font-weight: 700;
    height: 39px;
    text-align: center;
}

.textarea {
    display: block;
}

main {
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    color: black;
}

.evaluation-form-itens, #evaluation-form-itens{
    border-radius: 0.5em;
    border-style: none;
    height: 30px;
    width: 200px;
    margin: 2px;
}
.evaluation-form-itens{
    width: 160px;
    background-color: white;
} 

.evaluation-form {
    width: 675px;
    display: flex;
    justify-content: space-around;

}

